EWA_PORT=502
EWA_MQTT_HOST=mqtt
EWA_MQTT_PORT=1883
EWA_MQTT_USERNAME=
EWA_MQTT_PASSWORD=
EWA_EVCC_MQTT_TOPIC=evcc
EWA_EVCC_LOADPOINT_ID=1
EWA_PHASES=1
EWA_MAC=E8D8D1663B5B
EWA_SERIENNUMMER=00000000001
EWA_IP=192.168.179.30
EWA_SUBNET=255.255.255.0
EWA_FIRMWARE=1.21
EWA_LADESTROM=160
EWA_LADEKABEL=320
EWA_MAX_LADESTROM=320
EWA_PHASES_MEASURED_URL=
